# MATLAB specific
*.asv
*.mex*
*.slxc
*.mat
DerivedData/

# Audio/Output files (don't upload your test data)
*.wav
*.mp3
*.m4a
*.png
processed_results/
processed_audio/

# EXCEPTIONS
!examples/01_A_01.mp3
!GSURC_2026_Slides.pdf

# System files
.DS_Store
Thumbs.db
